@* @page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome to helpdesk app.

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("/issues"); // true = tvrdé přesměrování
    }
}
 *@